@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');

:root {
    --cor-primaria: #9301F5;
    --cor-secundaria: #0CABA8;
    --cor-terciaria: #FFFFFF;
    --cor-quaternaria: #E81791;
    --cor-letra: #000000;

    --font-principal:'Kanit', sans-serif;
    --font-secundaria:'Bebas Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-terciaria);
    box-sizing: border-box;

}

.cabecalho {
    background-color: var(--cor-quaternaria);

    padding: 1.5% 0% 1.5% 10%;
}

.cabecalho__menu{
    display:flex;
    flex-direction: row;
    justify-content:left;
    gap: 6em;

}
.cabecalho__menu__link{
    color: var(--cor-terciaria);
    font-family: var(--font-principal);
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-letra)
}

.apresentacao{
    padding: 2% 10%;
    display: flex;
    align-items:center;
    gap: 1.5em;
    justify-content: center;
    flex-direction: column;
}

.apresentacao__conteudo{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.apresentacao__conteudo__titulo{
    padding-top: 25%;
    font-size: 2.5rem;
    font-family: var(--font-principal);
    color: var(--cor-letra);
    text-align: center;
}
.apresentacao__conteudo__sub{
    font-size: 1.5rem;
    font-family: var(--font-principal);
    color: #000000;
    text-align:center;
    
}

.textos{
    padding: 2%;
    font-family: var(--font-principal);
    color: var(--cor-letra);
    font-size: 1.25rem;
}

.imagem-texto{
    display:grid;
    align-items: center;
    justify-content:center;

}

.imagem-ilustracao{
    text-align: center;
    width: auto;
    height:auto;
}

.sintomas{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 2%;
    font-family: var(--font-principal);
    color: var(--cor-letra);
}

.lista-sintomas{
    padding-left: 44%;
    padding-right: 35%;
    color: var(--cor-letra);
    font-family: var(--font-principal);
    font-size: 1.25rem;
}

.metade-lado{
    height: auto;
    padding: 1em;
    width:  100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap: 1em;
}

.pergunta{
    background-color: var(--cor-primaria);
    text-align: center;
    color: var(--cor-terciaria);
    font-family: var(--font-principal);

}

.resposta{
    font-family: var(--font-principal);
    color: var(--cor-letra);
    font-size: large;
    text-align:justify;
    font-size: 1.25rem;
}

.pergunta-resposta{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.metade-explicacao{
    padding:0%;
    width:  100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap: 2em;
}

.lista-explicacao{
    padding-left:4%;
    color: var(--cor-letra);
    font-family: var(--font-principal);
    font-size: 1.25rem;

}

.rodape {
    padding: 6%;
    color: var(--cor-terciaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 2rem;
    font-weight: 400;
}
